.main {
    display: flex;
    justify-content:space-between;
    background-color: #f4f6f8;
    padding: 10px;
    /* width: 372px; */
    margin-top: 2px;
}

.main:hover {
    box-shadow: rgb(166, 166, 166) 1px 1px 1px 1px;
}
.pictureSub{
    display: flex;
    gap: 20px;
}
.image {
    width: auto;
    height: 45px;
    border-radius: 100%;
    overflow: hidden;

}

.name {
    font-weight: 600;
}

.rightSide {
    text-align: center;
}
.count{
    width: auto;
    background-color: #14A389;
    border-radius: 5px;
    color: #DEE7EA;
    padding: 2px;
}

.starOff {
    color: #D9DDE8;

}

.starOn {
    color: #14A389;
}