.searchContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  position: relative;
  width: 365px;
}

.searchInput {
  width: 365px;
  border-radius: 10px;
  background-color: #B3BDCC;
  border: none;
  outline: none;
  /* subtract the width of the icon */
  padding: 10px;
}

.searchInput::-webkit-input-placeholder {
  position: relative;
  padding-left: 24px;
}


.searchIcon {
  color:gray ;
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  right: 55px; /* או כל ערך נדרש על מנת להתאים לעיצוב שלך */
}